<div class="container">
  <h1>Mastermind Game</h1>

  <div class="howToPlaySection">
  <h2>How To Play:</h2>
  <p>
    Find the 4-digit secret code which is marked as ? by entering digits from I
    to 9.<br/><br/> If the secret code is 1 2 34 and your guess is 1 34 5, then I is the
    correct digit and place and 3 and 4 are the correct digits but at wrong
    places. Each number can appear only once and you have 10 tries to solve it.
  </p>
</div>

  <div style="overflow-x: auto;">
  <table class="styled-table" >
    <thead>
      <tr>
        <th>Secret Code:</th>
        <th class="bg-primary" *ngFor="let columnIndex of getRange(0, numberOfDigits - 1)">
          {{ gameOver ? secretCode[columnIndex] : "?" }}
        </th>
        <th>Number of Digits at Correct Place</th>
        <th>Number of Digits at Wrong Place</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rowIndex of getRange(0, maxTries - 1)">
        <td>Try #{{ rowIndex + 1 }}</td>
        <td *ngFor="let columnIndex of getRange(0, numberOfDigits - 1)">
          {{ guesses[rowIndex] ? guesses[rowIndex][columnIndex] : "" }}
        </td>
        <td>
          {{ results[rowIndex] ? results[rowIndex].correctDigitPlace : "" }}
        </td>
        <td>
          {{ results[rowIndex] ? results[rowIndex].correctDigit : "" }}
        </td>
      </tr>
      <tr>
        <td>Enter your guess:</td>
        <td *ngFor="let columnIndex of getRange(0, numberOfDigits - 1)">
          <input
            type="number"
            [(ngModel)]="guess[columnIndex]"
            min="1"
            max="9"
          />
        </td>
        <td>
          <button (click)="checkGuess(guess)" [disabled]="gameOver">
            Check
          </button>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
  <button class="resetGameBtn" (click)="resetGame()">Restart Game</button>

  <div>Elapsed Time : {{ elapsedTime }} sec</div>

  <div class="overlay" *ngIf="showOverlay">
    <div class="overlay-content" (click)="$event.stopPropagation()">
      @if(solved){
      <h2>You Won!</h2>
      <p>You break the secret code by {{ results.length }} tries.</p>
      }@else{
      <h2>You Lose!</h2>
      <p>the secret code was {{ secretCode }}. Try it again.</p>
      }
      <button (click)="showOverlay=false">Close</button>
    </div>
  </div>

  <fieldset class="optionsSection">
    <legend>Options:</legend>
    <label
      >Number Of Digits:
      <input
        [(ngModel)]="numberOfDigits"
        (ngModelChange)="resetGame()"
        type="range"
        min="1"
        max="10"
      />
      {{ numberOfDigits }}
    </label>
    <label
      >Number Of Max Tries:
      <input
        [(ngModel)]="maxTries"
        (ngModelChange)="resetGame()"
        type="range"
        min="1"
        max="100"
      />
      {{ maxTries }}
    </label>
  </fieldset>
</div>
